.base-branch-label {
  display: inline-block;
  /* margin-left: 8px; */
  margin-right: 8px;
  padding: 0px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
} 

.gce-container {
  position: relative;
}

.gce-menu {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2rem;
}